@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: 'Inter', sans-serif;
}
/* NAVIGATION BAR */

.navbar{
    padding:3rem 10rem 3rem 10rem;    
}

/* FIRST SECTION */

.main_paragraph{
    font-size: 3rem;
}

.logo_container{
    text-align: center;
    padding-top: 4rem ;
    padding-bottom: 4rem;
}

/* ABOUT SECTION */

.contact_section{
    padding-bottom: 4rem;
}

/* FOOTER */
footer{
    padding-bottom: 1.5rem;
}

.footer_icons{
    padding-left: 50rem;
   
}

h5{
    position: relative;
    padding: 20px 0 20px 0;
    bottom: -60px;
    font-size: small;
}

a{
    text-decoration: none;
}

/* icons */
.icon{
    padding-bottom: 30px;
}
.svg_icons{
    padding: 3px;
}

.social_icons{
    text-align: right;
}

/* BUTTONS */
.contact_button{
    padding-bottom: 4rem;
}


.navbar_button,.contact_button {
    font-size: 16px;
    padding: 1em 3.3em;
    transform: perspective(200px) rotateX(15deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
    box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(70,135,252,1);
   }
   
   button:hover {
    transform: perspective(180px) rotateX(30deg) translateY(2px);
   }
   
   button:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
   }

/* Group Styles */
.main_paragraph, .minor_paragraph, h2,a, p,h5, .navbar,.about_title, .contact_title{
    color: #fff;
}

.contact_section, .about_section {
    padding-top: 4rem;
}

.project_section,.about_section{
    padding-bottom: 4rem;
}

.main_paragraph,h2{
    font-family: 'Prata', serif;
}

.navbar,.contact_section,.project_section,.first_section{
    background-color: #000000;
}
footer,.about_section{
    background-color: #6D8299;
}



/* MEDIA QUERY */

@media (max-width:900px){
    .navbar{
        padding-left: 0;
        padding-right: 0;
    }
    /* .project_image{
        width: 200px;
    } */
}